.loader {
  width: 90px;
  height: 12px;
  --c: #3f92c5 50%, #0000 0;
  background: 
    linear-gradient( 90deg, var(--c)) 0 0,
    linear-gradient(-90deg, var(--c)) 0 0;
  background-size: 20px 100%;
  background-repeat: repeat-x;
  animation: l10 1s infinite linear;
}
@keyframes l10 {
    100% {background-position: -20px 0, 20px 0}
}

/* Fix for layout shift when overlay is active */
body.loading-active {
    overflow: hidden !important;
    padding-right: 0px !important; /* Adjust if scrollbar width is known, or use scrollbar-gutter */
}
